[defaults]

inventory = ./my_inventory/linux
remote_user = devops
ask_pass = false

[privilege_escalation]
become = false
become_method = ansible.builtin.sudo
become_user = root
become_ask_pass = false
